#contact_modal {
  position: fixed; /* occupe tout l’écran */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* compatibilité Safari */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: solid 2px violet;
}

/* Visible quand on ajoute la classe .show */
#contact_modal.show {
  display: flex;
}

.modal-close {
  background-color: transparent;
  border: none;
}

#logo-2 {
  width: 200px;
  height: 50px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  justify-content: center;
}

.photograph-hero {
  display: flex;
  flex-direction: row;
  width: 1240px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  /* border: solid 2px violet; */
}

.photograph-info h1,
.photograph-info p {
  margin: 0; /* suppression des marges par défaut */
}

.photograph-info {
  display: flex;
  flex-direction: column;
}

.photograph-portrait {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  /* border: solid 2px green; */
}

.photograph-name {
  color: #901c1c;
  font-weight: 400;
  font-size: 64px;
  /* border: solid 2px red; */
}

#photographer-name {
  margin: 0;
  text-align: start;
  font-weight: 400;
  font-size: 64px;
}

.photograph-location {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 8px;
}

.photograph-tagline {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  /* border: solid 2px brown; */
}

.contact_button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#contact_form_submit {
  align-self: flex-start;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  z-index: 1001; 
}

.modal header {
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

form label {
  color: #312e2e;
  font-size: 36px;
  text-align: left; 
  margin-bottom: 8px;
  width: 100%;   
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; /* labels alignés à gauche */
  margin-bottom: 26px;
}



/* Champs du formulaire */
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
  align-items: center;
}

form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
  resize: none; /* pas de redimensionnement */
}
