#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photograph-hero {
  display: flex;
  flex-direction: row;
  width: 1240px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  /* border: solid 2px violet; */
}

.photograph-info {
  display: flex;
  flex-direction: column;
  line-height: 2px;
}

.photograph-portrait {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  /* border: solid 2px green; */
}

.photograph-name {
  color: #901c1c;
  font-weight: 400;
  font-size: 64px;
  /* border: solid 2px red; */
}

.photograph-tagline {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  /* border: solid 2px brown; */
}


.contact_button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  /* border: solid 2px darkblue; */
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

/* Groupes de champs */
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

/* Champs du formulaire */
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
}

form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
  resize: none; /* pas de redimensionnement */
}
