#contact_modal {
  position: fixed; /* occupe tout l’écran */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* compatibilité Safari */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: solid 2px violet;
}

/* Visible quand on ajoute la classe .show */
#contact_modal.show {
  display: flex;
}

.modal-close {
  background-color: transparent;
  border: none;
}

#logo-2 {
  width: 200px;
  height: 50px;
  margin-left: 20px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  justify-content: center;
}

.photograph-hero {
  display: flex;
  flex-direction: row;
  width: 1240px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.photograph-info h1,
.photograph-info p {
  margin: 0; /* suppression des marges par défaut */
}

.photograph-info {
  display: flex;
  flex-direction: column;
}

.photograph-portrait {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.photograph-name {
  color: #901c1c;
  font-weight: 400;
  font-size: 64px;
}

#photographer-name {
  margin: 0;
  text-align: start;
  font-weight: 400;
  font-size: 64px;
}

.photograph-location {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 8px;
}

.photograph-tagline {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
}

.contact_button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#contact_form_submit {
  align-self: flex-start;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  z-index: 1001;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

form label {
  color: #312e2e;
  font-size: 36px;
  text-align: left;
  margin-bottom: 8px;
  width: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; /* labels alignés à gauche */
  margin-bottom: 26px;
}

/* Champs du formulaire */
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
  align-items: center;
}

form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
  resize: none;
}

.form-error {
  color: #e54858;
  font-size: 1rem;
  padding-top: 0.5rem;
  transition: opacity 0.3s ease;
  margin: 0;
}

.form-success {
  color: #205d12;
  font-size: 1rem;
  padding-top: 0.5rem;
  transition: opacity 0.3s ease;
  margin-top: 0.6rem;
  text-align: center;
}

.form-success:empty,
.form-error:empty {
  display: none;
  opacity: 0;
}


/* GALERIE MEDIA PHOTOGRAPHE */

.photograph-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* flexible mais max 350px */
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}


.media-item {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 350px;
}

.media-item img,
.media-item video {
  width: 100%;
  height: 300px;     
  object-fit: cover;
  display: block;
}

.media-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #fff;
  padding-inline: 10px;
}


.media-item h2 {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  flex: 1; /* pousse le titre avant le bouton like */
}

.like-button {
  border: none;
  background: transparent;
  color: #901c1c;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}


/* LIGHTBOX */
.lightbox {
  display: flex;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  z-index: 2000; 
  border: solid 2px green;
}

.lightbox.show {
  display: flex;
}

.lightbox-content {
    width: 1050px;
  height: 900px;
  background: #f4f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
}

.lightbox button svg {
  width: 40px;
  height: 40px;
  fill: #901c1c;
}


.lightbox-close,
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background: transparent;
  padding: 10px;                
  border: none;
  cursor: pointer;
  z-index: 2001;
}

.lightbox-close {
   top: calc(50% - 450px - -10px); /* center - demi-hauteur - offset */
  right: calc(50% - 525px - 60px); /* center - demi-largeur - offset */
}

.lightbox-prev {
  top: 50%;
  left: calc(50% - 525px - 60px); 
  transform: translateY(-50%);
}

.lightbox-next {
  top: 50%;
  right: calc(50% - 525px - 60px); 
  transform: translateY(-50%);
}

/* MEDIA QUERIES */


@media (max-width: 1024px) {
  .photograph-gallery {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
  }

  .photograph-header {
  height: auto;
}

  .photograph-hero {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

}

@media (max-width: 768px) {
  .photograph-gallery {
    grid-template-columns: 1fr; /* 1 colonne sur mobile */
    justify-content: center;
  }
}